
<p><%= link_to 'Back to Exercises List', typesofexercises_path, { class: "btn btn-default" } %></p>

<p><%= link_to 'Create new exercise', new_typesofexercise_path, { class: "btn btn-default" } %></p>

<% if current_user.admin %> 
  <%= render 'form' %>
<% end %>