<%= link_to 'Back to Exercises List', typesofexercises_path, { class: "btn btn-default" } %>

<%= link_to 'Create new exercise', new_typesofexercise_path, { class: "btn btn-default" } %>

<p><% @typesofexercise.name %></p>

<%= image_tag @typesofexercise.photo.url(:medium) %>

<p><% @typesofexercise.instructions %></p>