.hero-image {
  width: 100%;
  height: auto;
}

.container-style {
  height: 400px;
  font-family: "Segoe UI Light", serif;
  font-size: 18px;
}

.column-style {
  height: 400px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container2 {
  background-color: #3366cc;
  color: white;
}

.container3 {
}

.calendar-image {
  width: 90%;
}
