@import "bootstrap-sprockets"; 
@import "bootstrap";

input[type="checkbox"] {
  display: inline-block;
}

label {
  font-weight: normal;
}

.checkbox_container {
  display: block;
}

.bodyarea {
  display: none;
}

.exercise_bodyarea {
  
}

.today {
  background-color: #85a3e0;
}

.navbar-style {
  background-color: #5c85d6;
}

.nav-link-style > li > a {
  color: white;
}

.new_appointment {
  background-color: #f2f2f2;
  padding: 20px;
}

.new_exercise {
  background-color: #f2f2f2;
  padding: 20px;
}