<h1>Body Areas</h1>

<% if current_user.admin %>
  <p><%= link_to "Create new body area", new_bodyarea_path, { class: "btn btn-info", role: "button" } %></p>
<% end %>

<div class="row">
  <div class="col-md-4">
    <table class="table table-bordered">
      <thead>
        <th>Name</th>
        <th></th>
      </thead>  
      <tbody>
        <% @bodyareas.each do |b| %>
          <tr>
            <td><%= b.name %></td>
            <% if current_user.admin %>
              <td>
                <%= link_to 'edit', edit_bodyarea_path(b) %>
                <%= link_to 'delete', bodyarea_path(b), method: :delete, data: {confirm: "Are you sure you want to delete this Body Area?"} %>
              </td>
            <% end %>
          </tr>  
        <% end %> 
      </tbody>
    </table>
  </div>
</div>